.schoolbell-regular {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}
body {
    font-family: "Schoolbell", cursive;
    margin: 0;
    padding: 0;
    background-image: url("kuvat/simpsonsbackgr.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h2 {
    text-align: center;
    color: #FCCB00;
    font-size: 28px;
    text-shadow: 2px 2px 4px #000;
    margin: 15px;
}

.container {
    display: grid;
    grid-template-areas:
        "logo header"
        "nav nav"
        "banner banner"
        "content content";
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 118px auto auto auto;
    align-content: start;
}
.container > div {
    background-color: transparent;
}
.container > div.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    padding: 10px 35px 18px 29px;
    background-color: transparent;
}
.container > div.logo img {
    padding: 0;
    margin: 0;
    max-width: 120px;
    height: auto;
}
.container > div.header {
    grid-area: header;
    display: flex;
    align-items: center;
    padding: 0 27px 10px;
    background-color: transparent;
    color: #FCCB00;
    font-size: 36px;
    text-shadow: 2px 2px 4px #000;
}
.container > div.nav {
    grid-area: nav;
    display: flex;
    gap: 20px;
    padding: 0;
    background-color: rgb(23, 105, 182, 0.9);
}
.container > div.nav a {
    text-decoration: none;
    color: #FCCB00;
    font-size: 20px;
    margin-left: 25px;
    padding: 10px;
    text-shadow: 2px 2px 4px #000;
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
}
.container > div.nav a:hover {
    background-color: #FCCB00;
    color: #1769B6;
    border-radius: 5px;
    text-shadow: 2px 2px 4px #5C9ED9;
    transform: scale(1.05);
}
.container > div.banner {
    grid-area: banner;
    height: 220px;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container > div.banner img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: 50% 50%;
}
.container > div.content {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0;
    padding: 0px;
    background: transparent;
    justify-items: center;
    align-items: center;
}
.location {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.location h4 {
    color: #FCCB00;
    font-size: 20px;
    margin-right: 10px 0;
    text-shadow: 2px 2px 4px #000;
}
.location img {
    width: 100%;
    max-width: 200px; 
    height: 150px;
    border: 2px solid #FCCB00;
    border-radius: 4px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s;
    margin: 0;
}
.locationpics {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.locationpics img {
    width: 100%;
    max-width: 200px; 
    height: 150px;
    border: 3px solid #FCCB00;
    border-radius: 4px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s;
}
.location img:hover {
    transform: scale(1.05);
}
.locationpics img:hover {
    transform: scale(1.05);
}
#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#popupContent {
    position: relative;
    text-align: center;
    max-width: 90%;
    max-height: 90%;
}
#popupKuva {
    max-width: 90%;
    max-height: 90%;
    border: 5px solid #5C9ED9;
}
#closeButton {
    position: absolute;
    top: -40px;
    left: 0;
    color: #FCCB00;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    background-color: #1769B6;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    text-shadow: 2px 2px 4px #000;
}
.charcontent {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 620px;
    margin: 0 auto;
    gap: 20px;
    padding: 10px;
    background: transparent;
    align-items: start;
    margin-top: 10px;
}
.charpics {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 0;
    padding: 0;
}
.charpics img {
    width: 100%;
    max-width: 150px; 
    height: 150px;
    border: 3px solid #FCCB00;
    border-radius: 15px;
    margin-bottom: 0;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s;
}
.charpics img:hover {
    transform: scale(1.05);
}
.charlayout {
    display: grid;
    grid-template-columns: 225px 1fr;
    gap: 20px;
    margin: 20px auto;
    max-width: 900px;
    align-items: start;
}
.charimage img {
    width: 100%;
    height: 350px;
    border: 3px solid #FCCB00;
    background: transparent;
    object-fit: cover;
    object-position: 63% 50%;
    border-radius: 4px;
    display: block;
}
.charinfo {
    width: 100%;
}
.tabit {
    display: flex;
    margin-bottom: 0;
}
.tab {
    font-family: "Schoolbell", cursive;
    font-size: 18px;
    background: #FCCB00;
    color: #1769B6;
    border: 2px solid #1769B6;
    border-bottom: none;
    padding: 8px 30px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 5px;
    transition: transform 0.2s, background 0.2s, color 0.2s;
    text-shadow: 2px 2px 4px #5C9ED9;
}
.tab.inactive:hover {
    background: #1769B6;
    color: #FCCB00;
    transform: scale(1.05);
}
.tab.active {
    background: #1769B6;
    color: #FCCB00;
    text-shadow: 2px 2px 4px #000;
}
.infoloota {
    border: 2px solid #1769B6;
    padding: 20px;
    background: #1769B6;
    color: #FCCB00;
    text-shadow: 1px 1px 2px #000;
}
.audio {
    margin: 18px 0;
    display: flex;
    gap: 15px;
}
.audio button {
    font-family: "Schoolbell", cursive;
    color: #1769B6;
    border: 2px solid #1769B6;
    border-radius: 8px;
    background: #FCCB00;
    padding: 10px 18px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 2px 2px 4px #5C9ED9;
}
.aaninayttelija {
    display: flex;
    align-items: center;
    margin-top: 18px;
    gap: 10px;
}
.aaninayttelija img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 2px solid #FCCB00;
}